*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

/*Header start*/

.bggg1{
    background-image: url('../img/banner1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*Header end*/


/* Produk start */

.card:hover {
    transform: scale(1.05);
    }

/* Produk end */


